<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="br.com.skyscannerapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Track Modifications
        1 - Added tools:ignore="GoogleAppIndexingWarning"
        2 - Added Permission Internet
        3 - Added android:networkSecurityConfig="@xml/security_config"  -> Reason("CLEARTEXT communication to partners.api.skyscanner.net not permitted by network security policy")
        4 - android:hardwareAccelerated="true" -> Reason This enable CardView shadow and other features
     -->

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:hardwareAccelerated="true"
                 android:theme="@style/AppTheme"
                 android:networkSecurityConfig="@xml/security_config"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".view.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
